<html>
    <head>
        <title>Mo's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">created at the Django Girls Workshop</a></h1>
        </div>

        <div>
            <p>published: 28.11.2015, 16:19</p>
            <h2><a href="">Mo's first post</a></h2>
            <p>Cologne is a great city.
            	A big big thank you to Lisa, Mark, MJ and Rebecca</p>
        </div>

        <div>
            <p>published: 28.11.2015, 16:21</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>